@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Perfect Dotnetcore App</h1>
    <p>To get me into troubles you can request the following urls: </p>
</div>
<div class="text-left">

            <ul>
               <li><a href="/">High CPU: /</a></li>
               <li><a href="/home/report">DeadLock: /home/report</a></li>
               <li><a href="/home/users">High Memory: /home/users or /home/privacy</a></li>
               <li><a href="/home/reporting">High Outbound Connections: /home/reporting</a></li>
               <li><a href="/home/about">High Disk Utilization: /home/about</a></li>
               <li><a href="/home/admin">Unhandled Exceptions: /home/admin</a></li>
               <li><a href="/home/climate">StackOverflow: /home/climate</a></li>
           </ul>
</div>